/*BREAKPOINS*/

@media only screen and (max-width: 1440px) {
  /*HEADER*/
  .imgs-position {
    height: 80%;
    position: relative;
  }
  .logo-header {
    height: 120px;
    margin-top: 2.5rem;
  }
  .header {
    position: static;
  }
  /*schedule*/
  #schedule {
    height: 750px;
  }
  .box-text-arrow {
    margin-top: -7%;
    height: 350px;
  }
  .box-text-arrow p {
    line-height: 1.6;
    width: 80%;
    font-size: 1.6rem;
  }
  .arrow {
    margin-top: 0;
  }
  .schedule-march {
    width: 100%;
    height: 400px;
  }
  .box-cercles-schedule {
    height: 335px;
  }
  .box-cercles-schedule h3 {
    font-size: 3.5rem;
  }
  .box-cercles-schedule h3 {
    font-size: 2.5rem;
  }
  /*pillars*/
  .pillars {
    height: 1600px;
  }
  .box-upload > p {
    font-size: 1.4rem;
  }
  .upload-img {
    margin-top: 15rem;
  }
  .pillars-text {
    width: 25%;
    height: 100%;
    background-size: 100% 100%;
  }
  .pillars-text p {
    font-size: 2rem;
  }
  .btn-pillars {
    height: 10%;
  }
  .text-double {
    height: 13%;
  }
  .manzar-text {
    height: 550px;
    text-align: center;
  }
  .name-manzar-text {
    align-items: center;
  }
  .manzar-text h3 {
    font-size: 2rem;
    margin: 0;
  }
  .manzar-text h3 {
    font-size: 1rem;
    margin: 0;
    height: 9%;
  }
  .manzar-text p {
    font-size: 1.2rem;
    width: 90%;
    padding: 0 4rem;
  }
  /*TEAM USERS*/
  #team {
    height: 3250px;
  }
  .team-user-1,
  .team-user-2,
  .team-user-3,
  .team-user-4,
  .team-user-5,
  .team-user-6,
  .team-user-7 {
    height: 300px;
  }
  .team-user-1 h2,
  .team-user-2 h2,
  .team-user-3 h2,
  .team-user-4 h2,
  .team-user-5 h2,
  .team-user-6 h2,
  .team-user-7 h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .team-user-1 h3,
  .team-user-2 h3,
  .team-user-3 h3,
  .team-user-4 h3,
  .team-user-5 h3,
  .team-user-6 h3,
  .team-user-7 h3 {
    height: 42px;
    font-family: 'GlobotipoRounded-Regular';
    font-size: 1.5rem;
    margin-top: 0.4rem;
    color: #525252;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .team-user-1 p,
  .team-user-2 p,
  .team-user-3 p,
  .team-user-4 p,
  .team-user-5 p,
  .team-user-6 p,
  .team-user-7 p {
    font-size: 1.3rem;
  }
  .box-name-text,
  .box-name-text-2,
  .box-name-text-3,
  .box-name-text-4,
  .box-name-text-5,
  .box-name-text-6,
  .box-name-text-7 {
    width: 100%;
  }
  .box-name-text {
    padding: 0 16%;
  }
  .team-img-cercles-2,
  .team-img-cercles-3,
  .team-img-cercles-4,
  .team-img-cercles-5,
  .team-img-cercles-6,
  .team-img-cercles-7 {
    height: 286px;
    width: 100%;
  }
  /*TEXT TEAM BOTTO*/
  .box-text-team {
    padding-top: 0;
    width: 70%;
  }
  .box-text-team h2 {
    font-size: 3rem;
    margin-top: 4rem;
  }
  .box-text-team h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .box-text-team p {
    font-size: 1.3rem;
  }
  /*bottom-page*/
  #bottom-page {
    padding-top: 4rem;
    position: relative;
    height: 1100px;
    overflow: hidden;
  }
  .box-bottom-page {
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .img-bottom-1,
  .img-bottom-2 {
    top: 2%;
  }
  .cercle-line-bottom-right {
    width: 91%;
    top: -18%;
  }
  .cercle-md-bottom {
    width: 10.7%;
    height: 13%;
    position: absolute;
    top: -4%;
    left: 20%;
    z-index: 1;
  }
  .cercle-sm-left {
    top: 4%;
  }
  .cercle-xsm-bottom {
    top: 0%;
  }
  .cercle-lg-bottom {
    bottom: 46%;
  }
  .cercle-sm-right {
    bottom: 64%;
  }
  .logo-bottom {
    width: 32%;
    height: 120px;
  }
}

/*DESKTOP*/

@media only screen and (max-width: 1024px) {
  /*HEADER*/
  .imgs-position {
    height: 70%;
    position: relative;
  }
  .logo-header {
    height: 100px;
    margin-top: 2rem;
    width: 30%;
  }
  .header {
    position: static;
  }
  /*schedule*/
  #schedule {
    height: 525px;
  }
  .box-text-arrow {
    margin-top: -18%;
    height: 281px;
  }
  .box-text-arrow p {
    line-height: 1.6;
    width: 80%;
    font-size: 1.2rem;
  }
  .arrow {
    width: 8%;
    margin-top: 0;
    height: 24%;
  }
  .schedule-march {
    width: 100%;
    height: 380px;
  }
  .box-cercles-schedule {
    height: 250px;
  }
  .box-cercles-schedule h2 {
    font-size: 3rem;
  }
  .box-cercles-schedule h3 {
    font-size: 2rem;
  }
  /*pillars*/
  .pillars {
    height: 1300px;
  }
  .box-upload > p {
    font-size: 1rem;
  }
  .upload-img {
    margin-top: 12rem;
  }
  .pillars-text {
    width: 25%;
    height: 100%;
    background-size: 100% 100%;
  }
  .pillars-text p {
    font-size: 1.3rem;
  }
  .btn-pillars {
    height: 10%;
  }
  .text-double {
    height: 11%;
  }
  .manzar-text {
    margin-top: 2rem;
    height: 400px;
    text-align: center;
  }
  .name-manzar-text {
    align-items: center;
  }
  .manzar-text h3 {
    font-size: 1rem;
    margin: 0;
  }
  .manzar-text h3 {
    font-size: 1rem;
    margin: 0;
    height: 9%;
    margin-bottom: 0.8rem;
  }
  .name-text-manzar h2 {
    font-family: 'GlobotipoRounded-Regular';
    color: white;
    font-size: 2rem;
    font-weight: 700;
    height: 10%;
    margin-top: 4rem;
    margin-bottom: 0;
  }
  .text {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
  .manzar-text p {
    font-size: 1rem;
    width: 90%;
    padding: 0 4rem;
    letter-spacing: 1px;
  }
  .cercle-md-manzar {
    bottom: 3%;
    height: 38.4%;
  }
  /*TEAM USERS*/
  #team {
    height: 2350px;
  }
  .team-user-1,
  .team-user-2,
  .team-user-3,
  .team-user-4,
  .team-user-5,
  .team-user-6,
  .team-user-7 {
    height: 200px;
  }
  .team-user-1 h2,
  .team-user-2 h2,
  .team-user-3 h2,
  .team-user-4 h2,
  .team-user-5 h2,
  .team-user-6 h2,
  .team-user-7 h2 {
    font-size: 2rem;
    margin-top: 0rem;
    height: 2rem;
  }
  .team-user-1 h3,
  .team-user-2 h3,
  .team-user-3 h3,
  .team-user-4 h3,
  .team-user-5 h3,
  .team-user-6 h3,
  .team-user-7 h3 {
    height: 30px;
    font-family: 'GlobotipoRounded-Regular';
    font-size: 1.1rem;
    color: #525252;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .team-user-1 p,
  .team-user-2 p,
  .team-user-3 p,
  .team-user-4 p,
  .team-user-5 p,
  .team-user-6 p,
  .team-user-7 p {
    font-size: 1rem;
  }
  .box-name-text,
  .box-name-text-2,
  .box-name-text-3,
  .box-name-text-4,
  .box-name-text-5,
  .box-name-text-6,
  .box-name-text-7 {
    width: 100%;
  }
  .box-name-text {
    padding: 0 12%;
  }
  .team-img-cercles-2,
  .team-img-cercles-3,
  .team-img-cercles-4,
  .team-img-cercles-5,
  .team-img-cercles-6,
  .team-img-cercles-7 {
    height: 215px;
    width: 100%;
  }
  /*TEXT TEAM BOTTOM*/
  .box-text-team {
    margin-top: 4rem;
    padding-top: 0;
    width: 60%;
  }
  .box-text-team h2 {
    font-size: 2rem;
    margin-top: 0rem;
    height: 2.5rem;
  }
  .box-text-team h3 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
  .box-text-team p {
    font-size: 1rem;
  }
  /*bottom-page*/
  #bottom-page {
    height: 800px;
    padding-top: 9rem;
    overflow: hidden;
  }
  .box-bottom-page {
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .img-bottom-1,
  .img-bottom-2 {
    top: 2%;
  }
  .cercle-line-bottom-right {
    width: 91%;
    top: -18%;
  }
  .cercle-md-bottom {
    width: 10.7%;
    height: 13%;
    position: absolute;
    top: -4%;
    left: 20%;
    z-index: 1;
  }
  .cercle-sm-left {
    top: 4%;
  }
  .cercle-xsm-bottom {
    top: 0%;
  }
  .cercle-lg-bottom {
    bottom: 46%;
  }
  .cercle-sm-right {
    bottom: 64%;
  }
  .logo-bottom {
    height: 100px;
    width: 30%;
  }
  .team-cercle-sm-7-right {
    z-index: 1;
    width: 8.3%;
    height: 17%;
    position: absolute;
    top: 17%;
    left: 61%;
  }
}

/*TABLET*/

@media only screen and (max-width: 769px) {
  .imgs-position {
    height: 60%;
    position: relative;
  }
  .header {
    height: 700px;
  }
  .logo-header {
    height: 80px;
    width: 32%;
    margin-top: 1rem;
  }
  .box-text-arrow {
    margin-top: -31%;
  }
  .arrow {
    width: 50px;
    height: 50px;
  }
  .box-text-arrow {
    margin-top: -30%;
    height: 262px;
    position: absolute;
  }
  #schedule {
    height: 450px;
  }
  .box-cercles-schedule {
    height: 193px;
  }
  .schedule-march {
    width: 100%;
    height: 321px;
  }
  .box-cercles-schedule h2 {
    font-size: 1.9rem;
  }
  .box-cercles-schedule h3 {
    font-size: 1.5rem;
  }
  .pillars {
    height: 1200px;
  }
  .box-upload {
    height: 36%;
  }
  .box-upload > p {
    margin-top: 1rem;
    font-size: 0.8rem;
    width: 80%;
    letter-spacing: 1px;
  }
  .text-double {
    flex-direction: column;
    align-items: center;
    height: 16.6%;
    width: 100%;
  }
  .text {
    height: 100px;
  }
  .upload-img {
    margin-top: 10rem;
  }
  .pillars-text p {
    font-size: 1rem;
    margin-top: 13px;
  }
  .btn-pillars {
    height: 10%;
    margin-top: 5rem;
  }
  .text {
    height: 104px;
    font-size: 1.1rem;
    margin-top: 1.2rem;
  }
  .name-text-manzar h2 {
    font-family: 'GlobotipoRounded-Regular';
    color: white;
    font-size: 2rem;
    font-weight: 700;
    height: 10%;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .manzar-text {
    flex-direction: column;
    display: flex;
    margin-top: 0rem;
    height: 501px;
  }
  .name-text-manzar {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    width: 80%;
  }
  .name-text-manzar h2 {
    font-size: 1.5rem;
    height: 15%;
    margin-bottom: 0;
    margin-top: 3rem;
  }
  .manzar-text p {
    font-size: 0.8rem;
    width: 100%;
    letter-spacing: 1px;
  }
  .manzar-text h3 {
    font-size: 0.9rem;
    margin: 0;
    height: 8.7%;
    margin-bottom: 0.8rem;
  }
  .img-cercles {
    position: relative;
    height: 100%;
    width: 60%;
  }
  #team {
    height: 4274px;
  }
  .team-resp-1 {
    padding: 0 2%;
    height: 574px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .team-resp-2 {
    padding: 0 2%;
    height: 574px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .box-name-text-2,
  .box-name-text-3,
  .box-name-text-4,
  .box-name-text-5,
  .box-name-text-6,
  .box-name-text-7 {
    height: 250px;
    width: 100%;
    padding: 0 5%;
  }
  .team-img-cercles-2,
  .team-img-cercles-3,
  .team-img-cercles-4,
  .team-img-cercles-5,
  .team-img-cercles-6,
  .team-img-cercles-7 {
    height: 312px;
    width: 100%;
  }
  .team-cercle-sm-right-3 {
    width: 9.3%;
    height: 21%;
    position: absolute;
    top: 17%;
    left: 60%;
    z-index: 1;
  }
  #bottom-page {
    height: 700px;
    padding-top: 9rem;
    overflow: hidden;
  }
  .logo-bottom {
    height: 90px;
    width: 32%;
  }
  .team-user-1 {
    height: 482px;
    width: 100%;
  }
  .team-name-text {
    height: 80%;
    width: 100%;
  }
  section {
    overflow: hidden;
  }
  .img-bottom-1,
  .img-bottom-2 {
    height: 26%;
    top: 2%;
    width: 24%;
  }
  .team-cercle-sm-7-right {
    z-index: 1;
    width: 8.3%;
    height: 17%;
    position: absolute;
    top: 17%;
    left: 61%;
  }
}

/*MOBILE*/


@media only screen and (max-width: 480px) {
  .header {
    height: 486px;
  }
  .logo-header {
    height: auto;
    width: 35%;
    margin-top: 1rem;
  }
  .schedule-march {
    width: 100%;
    height: 516px;
  }
  .upload-img {
    width: 41%;
    margin-top: 13rem;
    height: auto;
  }
  .box-text-team {
    margin-top: 4rem;
    padding-top: 0;
    width: 80%;
  }
  .box-cercles-schedule {
    width: 63%;
    height: 156px;
  }
  .box-cercles-schedule h2 {
    font-size: 1.6rem;
  }
  .box-cercles-schedule h3 {
    margin-bottom: 4px;
  }
  .pillars {
    height: 1260px;
  }
  .pillars-text {
    width: 46%;
    margin-top: 2rem;
  }
  .text-double {
    height: 17.6%;
    padding-top: 1rem;
  }
  .img-cercles {
    width: 85%;
  }
  #team {
    height: 3811px;
  }
  .team-img-cercles {
    width: 100%;
    height: 79%;
  }
  .team-cercle-orange {
    left: 5%;
  }
  .team-cercle-md {
    left: 7%;
  }
  .team-cercle-sm {
    left: 21%;
  }
  .img-user-1 {
    left: 28%;
  }
  .team-resp-2 {
    height: 474px;
    margin-bottom: 1rem;
  }
  .team-resp-1 {
    height: 474px;
    margin-bottom: 1rem;
  }
  .box-name-text-2,
  .box-name-text-3,
  .box-name-text-4,
  .box-name-text-5,
  .box-name-text-6,
  .box-name-text-7 {
    height: 378px;
  }
  #bottom-page {
    height: 417px;
    padding-top: 23px;
    overflow: hidden;
  }
  .logo-bottom {
    height: auto;
    width: 32%;
  }
}
@media only screen and (max-width: 425px) {
  /*header*/
  .header {
    height: 723px;
  }
  .logo-header {
    height: 70px;
    width: 55%;
    top: 9%;
  }
  .cercle-top-left {
    display: none;
  }
  .imgs-position {
    height: 82%;
  }
  .video-box {
    top: 12%;
    width: 100%;
    height: 50%;
    z-index: 9;
    position: absolute;
  }
  .video {
    width: 80%;
    left: 50%;
  }
  .double-cercle,
  .cercle-line-header-left,
  .cercle-header-right,
  .cercle-sm-top {
    display: none;
  }
  /*positon-imgs-header*/
  .cercle-md-header-left {
    position: absolute;
    bottom: -1%;
    width: 54%;
    height: 37%;
    z-index: 7;
    left: -3%;
  }
  .cercle-line-header-right {
    position: absolute;
    width: 47%;
    height: 33%;
    z-index: 6;
    bottom: -2%;
    right: 17%;
  }
  .bg-left-gradiente {
    left: -15%;
    position: absolute;
    width: 117%;
    height: 100%;
    top: 0;
    z-index: 0;
  }
  .cercle-sm-header-left {
    position: absolute;
    top: 4%;
    width: 13%;
    height: 9%;
    z-index: 7;
    left: 11%;
  }
  .cercle-md-header-left-bottom {
    position: absolute;
    width: 13%;
    height: 9%;
    z-index: 6;
    bottom: 0%;
    right: 14%;
  }
  .cercle-md-header {
    width: 24%;
    position: absolute;
    height: 16%;
    right: -5%;
    top: -3%;
    z-index: 3;
  }
  .cercle-md-header-2 {
    position: absolute;
    z-index: 10;
    right: 20%;
    height: 14%;
    width: 20%;
    bottom: 22%;
  }
  /*schedule*/
  #schedule {
    height: 391px;
  }
  .box-text-arrow p {
    font-size: 0.9rem;
  }
  .box-text-arrow {
    height: 199px;
  }
  .arrow {
    width: 40px;
    height: 40px;
    margin-bottom: 2rem;
  }
  .schedule-march {
    width: 100%;
    height: 359px;
  }
  .box-cercles-schedule {
    width: 76%;
    height: 156px;
  }
  .cercle-md {
    position: absolute;
    width: 21%;
    height: 42%;
    top: 17%;
    left: 11%;
  }
  .cercle-sm-bottom {
    position: absolute;
    top: -19%;
    height: 13%;
    width: 7.3%;
    right: 11%;
    z-index: 2;
  }
  .cercle-line {
    right: -9%;
    position: absolute;
    width: 40%;
    height: 74%;
    z-index: 1;
    top: -14%;
  }
  /*pillars*/
  .upload-img {
    margin-top: 12rem;
    width: 53%;
    height: 15%;
  }
  .box-upload > p {
    font-size: 0.7rem;
  }
  .pillars-text {
    width: 54%;
    height: 75%;
    background-size: 100% 100%;
  }
  .pillars-text p {
    margin-top: 8px;
  }
  .manzar-text {
    height: 509px;
  }

  .manzar-text h3 {
    font-weight: 600;
    font-size: 1.3rem;
  }
  
  .img-cercles {
    width: 100%;
  } 
  .cercle-md-manzar {
    left: 16%;
    bottom: 9%;
    height: 35.1%;
  }
  .cercle-line-manzar {
    right: -26%;
    height: 80%;
    width: 62%;
    position: absolute;
  }
  .cercle-sm-manzar {
    width: 15%;
    position: absolute;
    top: 8%;
    height: 18%;
    left: 66%;
    z-index: 13;
  }
  /*TEAM*/
  #team {
    height: 5100px;
  }
  .team-name-text {
    height: 100%;
  }
  .box-name-text p {
    font-size: 1.1rem;
  }
  .team-cercle-orange {
    display: none;
  }
  .team-cercle-md {
   width: 26%;
    height: 39%;
    position: absolute;
    top: 50%;
    left: 15%;
  }
  .img-user-1 {
    top: 12%;
    left: 37%;
    border-radius: 50%;
    width: 50%;
    height: 73%;
    position: absolute;
  }
  .team-user-1 {
    padding: 0;
    height: 373px;
    width: 100%;
  }
  .team-cercle-sm {
        width: 14%;
    height: 21%;
    position: absolute;
    top: 10%;
    left: 26%;
  }

  .team-resp-2 {
    padding: 0;
    height: 675px;
    width: 100%;
  }
  .team-resp-1 {
    padding: 0;
    height: 675px;
    width: 100%;
  }
  .team-img.cercle-2,
  .team-img.cercle-3,
  .team-img.cercle-4,
  .team-img.cercle-5,
  .team-img.cercle-6,
  .team-img.cercle-7 {
    height: 265px;
    width: 100%;
  }
  .img-user-2,
  .img-user-3,
  .img-user-4,
  .img-user-5,
  .img-user-6,
  .img-user-7 {
    top: 2%;
    left: 21%;
    border-radius: 50%;
    width: 57%;
    height: 73%;
    position: absolute;
  }
  .team-cercle-orange-2 {
    height: 70%;
    width: 60.8%;
    position: absolute;
    left: 35.7%;
    top: -3%;
    border-radius: 50%;
  }
  .team-cercle-sm-2 {
    width: 14.3%;
    height: 17%;
    position: absolute;
    top: -8%;
    left: 10%;
  }
  .team-cercle-md-2 {
    z-index: 1;
    width: 19%;
    height: 22%;
    position: absolute;
    top: 12%;
    left: 76%;
  }
  .team-cercle-orange-3 {
    height: 67%;
    width: 55.8%;
    position: absolute;
    left: 3.7%;
    top: -11%;
    border-radius: 50%;
  }
  .team-cercle-md-3 {
    z-index: 1;
    width: 23%;
    height: 28%;
    position: absolute;
    top: 55%;
    left: 27%;
  }
  .team-cercle-sm-3 {
    width: 13.3%;
    height: 16%;
    position: absolute;
    top: 4%;
    left: 17%;
  }
  .team-cercle-sm-right-3 {
    width: 13.3%;
    height: 16%;
    position: absolute;
    top: 17%;
    left: 72%;
    z-index: 1;
  }
  .team-cercle-orange-4 {
    height: 70%;
    width: 60.8%;
    position: absolute;
    left: 35.7%;
    top: -3%;
    border-radius: 50%;
  }
  .team-cercle-sm-4 {
    width: 14.3%;
    height: 17%;
    position: absolute;
    top: 3%;
    left: 17%;
  }
  .team-cercle-md-4 {
    z-index: 1;
    width: 24%;
    height: 29%;
    position: absolute;
    bottom: 12%;
    right: 76%;
  }
  .team-cercle-orange-5-right {
    width: 42%;
    height: 51%;
    position: absolute;
    right: 14%;
    top: 25%;
  }
  .team-cercle-orange-5 {
    height: 67%;
    width: 55.8%;
    position: absolute;
    left: 3.7%;
    top: -11%;
    border-radius: 50%;
  }
  .team-cercle-orange-4 {
    height: 70%;
    width: 60.8%;
    position: absolute;
    left: 3.7%;
    top: -13%;
    border-radius: 50%;
  }
  .team-cercle-orange-4-right {
    width: 42%;
    height: 51%;
    position: absolute;
    right: 14%;
    bottom: 25%;
  }
  .team-cercle-sm-4-right {
    z-index: 1;
    width: 13.3%;
    height: 16%;
    position: absolute;
    bottom: 17%;
    left: 74%;
  }
  .team-cercle-md-5 {
    z-index: 1;
    width: 23%;
    height: 28%;
    position: absolute;
    top: 55%;
    left: 27%;
  }
  .team-cercle-sm-5 {
    width: 13.3%;
    height: 16%;
    position: absolute;
    top: 4%;
    left: 17%;
  }
  .team-cercle-sm-5-right {
    z-index: 1;
    width: 13.3%;
    height: 16%;
    position: absolute;
    top: 17%;
    left: 74%;
  }
  .team-cercle-orange-6 {
    height: 70%;
    width: 60.8%;
    position: absolute;
    left: 35.7%;
    top: -3%;
    border-radius: 50%;
  }
  .team-cercle-sm-6 {
    width: 14.3%;
    height: 17%;
    position: absolute;
    top: -8%;
    left: 10%;
  }
  .team-cercle-md-6 {
    z-index: 1;
    width: 19%;
    height: 22%;
    position: absolute;
    top: 12%;
    left: 76%;
  }
  .team-cercle-orange-7 {
    height: 67%;
    width: 55.8%;
    position: absolute;
    left: 3.7%;
    top: -11%;
    border-radius: 50%;
  }
  .team-cercle-md-7 {
    z-index: 1;
    width: 23%;
    height: 28%;
    position: absolute;
    top: 55%;
    left: 27%;
  }
  .team-cercle-sm-7 {
    width: 13.3%;
    height: 16%;
    position: absolute;
    top: 4%;
    left: 17%;
  }
  .team-cercle-sm-right-7 {
    z-index: 1;
    width: 13.3%;
    height: 16%;
    position: absolute;
    top: 17%;
    left: 74%;
  }
  .team-cercle-orange-7-right {
    width: 42%;
    height: 51%;
    position: absolute;
    right: 14%;
    top: 25%;
  }
  .team-user-1 h2,
  .team-user-2 h2,
  .team-user-3 h2,
  .team-user-4 h2,
  .team-user-5 h2,
  .team-user-6 h2,
  .team-user-7 h2,
  .box-text-team h2 {
    font-size: 2rem;
    margin-top: 0rem;
    height: 1rem;
  }
  .team-user-1 h3,
  .team-user-2 h3,
  .team-user-3 h3,
  .team-user-4 h3,
  .team-user-5 h3,
  .team-user-6 h3,
  .team-user-7 h3,
  .box-text-team h3 {
    font-size: 1rem;
    margin-top: 1rem;
    height: 1rem;
  }
  .team-user-1 p,
  .team-user-2 p,
  .team-user-3 p,
  .team-user-4 p,
  .team-user-5 p,
  .team-user-6 p,
  .team-user-7 p,
  .box-text-team p {
    font-size: 1.1rem;
    margin-top: 0rem;
    height: 1rem;
  }
  .box-text-team {
    margin-top: 0rem;
  }
  .box-text-team {
    width: 80%;
  }
  /*BOTTOM-PAGE*/
  #bottom-page {
    height: 400px;
    padding-top: 9rem;
    overflow: hidden;
  }
  .cercle-md-bottom {
    width: 20%;
    height: 22%;
    position: absolute;
    top: -35%;
    left: 0%;
    z-index: 1;
  }
  .cercle-sm-left {
    top: -16%;
    height: 12%;
    width: 12%;
    left: -2%;
  }
  .cercle-xsm-bottom {
    display: none;
    top: 0%;
  }
  .img-bottom-1 {
    display: none;
  }
  .cercle-line-bottom-right {
    z-index: 1;
    width: 91%;
    top: -18%;
  }
  .logo-bottom {
    height: 74px;
    width: 57%;
  }
  .img-bottom-2 {
    height: 40%;
    top: -36%;
    width: 40%;
    right: 2%;
  }
  .cercle-sm-right {
    display: none;
  }
  .cercle-lg-bottom {
    width: 21%;
    top: 0%;
    bottom: 46%;
    right: 19%;
    z-index: 2;
  }
  section {
    overflow-x: hidden;
  }
  .header {
    overflow: hidden;
  }
  .team-cercle-sm-7-right {
    z-index: 1;
    width: 13.3%;
    height: 17%;
    position: absolute;
    top: 17%;
    left: 74%;
  }
}
@media only screen and (max-width: 375px) {
  .video{
  left: 50%;
  }
  
  .logo-header {
    height: 70px;
    width: 55%;
    top: 4%;
  }
    
  .header {
    height: 600px;
  }
  .box-cercles-schedule {
    width: 87%;
    height: 156px;
  }
  .img-cercles {
    width: 112%;
  }
  .team-img-cercles {
    width: 72%;
    height: 98%;
  }
  .name-text-manzar h2 {
    font-size: 2rem;
    
  }
  .img-user-1 {
    top: 12%;
    left: 32%;
    border-radius: 50%;
    width: 79%;
    height: 73%;
    position: absolute;
  }
  .team-cercle-md {
    width: 36%;
    height: 33%;
    position: absolute;
    top: 50%;
    left: 1%;
  }
  .img-user-2, .img-user-3, .img-user-4, .img-user-5, .img-user-6, .img-user-7 {
    top: 2%;
    left: 21%;
    border-radius: 50%;
    width: 57%;
    height: 77%;
    position: absolute;
  }
  #team {
    height: 4400px;
  }
  .team-resp-2 {
    height: 574px;
    margin-bottom: 1rem;
  }
  .team-resp-1 {
    height: 574px;
    margin-bottom: 1rem;
  }
  #bottom-page {
    height: 417px;
    padding-top: 44%;
    overflow: hidden;
  }
  .schedule-march {
    height: 398px;
  }
  .manzar-text h3 {
    margin-top: 4px;
    
  }
  .box-text-arrow p {
    font-size: 0.9rem;
  }
  .upload-img {
    margin-top: 14.5rem;
  }
  #bottom-page {
    height: 372px;
    padding-top: 44%;
    overflow: hidden;
  }
}
