* {
  margin: 0;
  height: 0;
}

@font-face {
  font-family: 'GlobotipoRounded-Regular';
  src: url(/fonts/GlobotipoRounded-Regular.ttf);
}

/*HEADER*/

.header {
  width: 100%;
  height: 850px;
  position: relative;
  background-image: linear-gradient(to right, white, rgb(230 229 228));
}

.section {
  overflow: hidden;
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.logo-header {
  left: 50%;
  position: absolute;
  width: 30%;
  height: 180px;
  transform: translateX(-50%);
  margin-top: 3rem;
  top: 1%;
}

.double-cercle {
  position: absolute;
  width: 80%;
  height: 26%;
  left: 8%;
  top: 16%;
  z-index: 2;
}

.cercle-top-left {
  width: 22%;
  top: 0;
  z-index: 2;
  position: absolute;
  height: 36%;
}

.bg-left-gradiente {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}

.cercle-md-header {
  width: 5%;
  position: absolute;
  height: 10%;
  right: 11%;
  top: 22%;
  z-index: 3;
}

.cercle-sm-header {
  top: 40%;
  right: 22%;
  position: absolute;
  width: 6%;
  height: 10%;
  z-index: 5;
}

.cercle-header-right {
  position: absolute;
  right: 0;
  z-index: 6;
  width: 20%;
  height: 44%;
  bottom: 2%;
}

.cercle-line-header-left {
  position: absolute;
  width: 12%;
  height: 20%;
  z-index: 6;
  bottom: 10%;
  left: 2%;
}

.cercle-line-header-right {
  position: absolute;
  width: 24%;
  height: 40%;
  z-index: 6;
  bottom: -10%;
  right: 8%;
}

.cercle-md-header-left {
  position: absolute;
  bottom: 6%;
  width: 5%;
  height: 10%;
  z-index: 7;
  left: 3%;
}

.cercle-sm-header-left {
  position: absolute;
  bottom: 0%;
  width: 3%;
  height: 6%;
  z-index: 7;
  left: 12%;
}

.video-box {
  width: 100%;
  height: 100%;
  z-index: 9;
  position: absolute;
}

.video {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.295);
  width: 63.6%;
  height: 61.6%;
  left: 50%;
  top: 59.8%;
  transform: translate(-50%, -50%);
}

.video-demo {
  width: 100%;
  height: 100%;
}

.cercle-md-header-left-bottom {
  position: absolute;
  width: 5%;
  height: 10%;
  z-index: 5;
  bottom: -14%;
  right: 11%;
}

/*SCHEDULE*/

#schedule {
  background-image: linear-gradient(to right, white, rgb(230 229 228));
  width: 100%;
  height: 100vh;
}

.box-schedule {
  height: auto;
  display: flex;
  flex-direction: column;
}

.box-text-arrow {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 500px;
  text-align: center;
}

.box-text-arrow p {
  font-family: 'GlobotipoRounded-Regular';
  color: #525252;
  font-size: 29pt;
  width: 60%;
}

.arrow {
  width: 100px;
  height: 100px;
  margin-bottom: 4rem;
  margin-top: 8rem;
}

/*AGENDA MARÇO*/

.schedule-march {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
}

.box-cercles-schedule {
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
  z-index: 0;
}

.cercle-lg {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cercle-md {
  position: absolute;
  width: 18%;
  height: 34%;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
}

.cercle-sm-top {
  position: absolute;
  top: 8%;
  height: 16%;
  width: 9%;
  left: 4%;
}

.cercle-sm-bottom {
  position: absolute;
  bottom: 8%;
  height: 16%;
  width: 9%;
  right: 18%;
  z-index: 2;
}

.cercle-xsm {
  position: absolute;
  width: 4%;
  height: 8%;
  right: 16%;
  bottom: 55%;
  z-index: 2;
}

.cercle-line {
  right: -4%;
  position: absolute;
  width: 30%;
  height: 61%;
  z-index: 1;
  bottom: 1%;
}

.box-cercles-schedule h2 {
  position: absolute;
  color: white;
  font-family: 'GlobotipoRounded-Regular';
  left: 50%;
  top: 50%;
  font-size: 3rem;
  z-index: 2;
  transform: translate(-50%, -50%);
  font-weight: 700;
}

.box-cercles-schedule h3 {
  position: absolute;
  color: white;
  font-family: 'GlobotipoRounded-Regular';
  left: 50%;
  top: 38%;
  font-size: 4rem;
  z-index: 2;
  font-weight: 400;
  transform: translate(-50%, -50%);
}

/*7 pillars*/

.pillars {
  background-image: url('../imagens/bg_about.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 165vh;
  margin-top: -23rem;
}

.box-pillars {
  transform: translateY(5%);
  height: 100%;
}

.box-upload {
  height: 43%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-img {
  margin-top: 7rem;
  height: 18%;
  width: 30%;
  margin-top: 20rem;
}

.box-upload > p {
  margin-top: 4rem;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 2rem;
  color: white;
  font-weight: 400;
  width: 60%;
  text-align: center;
}

.btn-pillars {
  margin-top: 9rem;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillars-text {
  background-image: url('../imagens/bg_7pilares.png');
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillars-text > p {
  text-align: center;
  font-family: 'GlobotipoRounded-Regular';
  color: white;
  font-size: 3rem;
  height: 100%;
  font-weight: bold;
  margin-top: 2rem;
}

.text-double {
  width: 67%;
  height: 11%;
  display: flex;
  justify-content: space-around;
}

.text {
  font-family: 'GlobotipoRounded-Regular';
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
}

.manzar-text {
  height: 850px;
  display: flex;
  align-items: center;
  text-align: center;
}

.name-text-manzar {
  width: 50%;
}

.img-cercles {
  position: relative;
  height: 88%;
  width: 50%;
}

.cercle-md-manzar {
  position: absolute;
  bottom: 0;
  width: 28%;
  height: 40%;
  right: 24%;
  z-index: 1;
}

.cercle-sm-manzar {
  position: absolute;
  top: 8%;
  height: 20%;
  left: 0;
}

.cercle-line-manzar {
  height: 80%;
  width: 62%;
}

.img-manzar {
  width: 54%;
  height: 70%;
  position: absolute;
  top: 5%;
  left: 23%;
  border-radius: 50%;
}

.name-text-manzar {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.name-text-manzar h2 {
  font-family: 'GlobotipoRounded-Regular';
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  height: 10%;
}

.name-text-manzar h3 {
  font-family: 'GlobotipoRounded-Regular';
  color: white;
  font-size: 2rem;
  height: 18%;
}

.name-text-manzar p {
  width: 96%;
  font-family: 'GlobotipoRounded-Regular';
  color: white;
  font-size: 1.5rem;
  height: 17%;
}

/*TEAM*/

#team {
  background-color: white;
  height: 5336px;
}

/*USER 1*/

.team-user-1 {
  width: 100%;
  height: 534px;
  display: flex;
}

.team-img-cercles {
  position: relative;
  width: 67%;
  height: 100%;
}

.team-cercle-orange {
  height: 100%;
  width: 56%;
  position: absolute;
  left: 46%;
  top: -11%;
  border-radius: 50%;
}

.img-user-1 {
  top: 12%;
  left: 59%;
  border-radius: 50%;
  width: 46%;
  height: 84%;
  position: absolute;
}

.team-cercle-md {
  width: 23%;
  height: 43%;
  position: absolute;
  top: 45%;
  left: 37%;
}

.team-cercle-sm {
  width: 11%;
  height: 21%;
  position: absolute;
  top: 20%;
  left: 53%;
}

.team-name-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.box-name-text {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 8%;
  box-sizing: border-box;
}

.box-name-text > h2 {
  height: 3rem;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 4rem;
  color: #ff6b0e;
  font-weight: 700;
  margin-top: 6rem;
}

.box-name-text h3 {
  height: 42px;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 2rem;
  margin-top: 20px;
  color: #525252;
  margin-bottom: 4rem;
  font-weight: 700;
}

.box-name-text p {
  font-family: 'GlobotipoRounded-Regular';
  font-size: 1.5rem;
  color: #525252;
  font-weight: 400;
}

/*user 2*/

.team-user-2 {
  padding-top: 8rem;
  width: 100%;
  height: 573px;
  display: flex;
}

.box-name-text-2 {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: center;
  padding-left: 11%;
}

.box-name-text-2 h2 {
  height: 3rem;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 4rem;
  color: #ff6b0e;
  font-weight: 700;
  margin-top: 6rem;
}

.box-name-text-2 h3 {
  height: 42px;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 2rem;
  margin-top: 20px;
  color: #525252;
  margin-bottom: 4rem;
  font-weight: 700;
}

.box-name-text-2 p {
  font-family: 'GlobotipoRounded-Regular';
  font-size: 1.5rem;
  color: #525252;
  font-weight: 400;
}

.team-img-cercles-2 {
  position: relative;
  width: 67%;
  height: 100%;
}

.team-cercle-orange-2 {
  height: 100%;
  width: 45.8%;
  position: absolute;
  left: 35.7%;
  top: -11%;
  border-radius: 50%;
}

.img-user-2 {
  top: 2%;
  left: 29%;
  border-radius: 50%;
  width: 36%;
  height: 83%;
  position: absolute;
}

.team-cercle-md-2 {
  z-index: 1;
  width: 19%;
  height: 43%;
  position: absolute;
  top: 12%;
  left: 62%;
}

.team-cercle-sm-2 {
  width: 9.3%;
  height: 21%;
  position: absolute;
  top: -14%;
  left: 24%;
}

/*USER 3*/

.team-user-3 {
  padding-top: 8rem;
  width: 100%;
  height: 573px;
  display: flex;
}

.box-name-text-3 {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: center;
  padding-right: 11%;
}

.box-name-text-3 h2 {
  height: 3rem;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 4rem;
  color: #ff6b0e;
  font-weight: 700;
  margin-top: 6rem;
}

.box-name-text-3 h3 {
  height: 42px;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 2rem;
  margin-top: 20px;
  color: #525252;
  margin-bottom: 4rem;
  font-weight: 700;
}

.box-name-text-3 p {
  font-family: 'GlobotipoRounded-Regular';
  font-size: 1.5rem;
  color: #525252;
  font-weight: 400;
}

.team-img-cercles-3 {
  position: relative;
  width: 67%;
  height: 100%;
}

.team-cercle-orange-3 {
  height: 100%;
  width: 45.8%;
  position: absolute;
  left: 35.7%;
  top: -11%;
  border-radius: 50%;
}

.img-user-3 {
  top: 2%;
  left: 29%;
  border-radius: 50%;
  width: 36%;
  height: 83%;
  position: absolute;
}

.team-cercle-md-3 {
  z-index: 1;
  width: 19%;
  height: 43%;
  position: absolute;
  top: 12%;
  left: 62%;
}

.team-cercle-sm-3 {
  width: 9.3%;
  height: 21%;
  position: absolute;
  top: -14%;
  left: 24%;
}

/*USER 4*/

.team-user-4 {
  padding-top: 8rem;
  width: 100%;
  height: 573px;
  display: flex;
}

.box-name-text-4 {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: center;
  padding-left: 11%;
}

.box-name-text-4 h2 {
  height: 3rem;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 4rem;
  color: #ff6b0e;
  font-weight: 700;
  margin-top: 6rem;
}

.box-name-text-4 h3 {
  height: 42px;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 2rem;
  margin-top: 20px;
  color: #525252;
  margin-bottom: 4rem;
  font-weight: 700;
}

.box-name-text-4 p {
  font-family: 'GlobotipoRounded-Regular';
  font-size: 1.5rem;
  color: #525252;
  font-weight: 400;
}

.team-img-cercles-4 {
  position: relative;
  width: 67%;
  height: 100%;
}

.team-cercle-orange-lg-4 {
  position: absolute;
  top: -10%;
  height: 90%;
  width: 42%;
  left: 17%;
}

.team-cercle-orange-md-4 {
  position: absolute;
  top: 32%;
  height: 70%;
  width: 34%;
  left: 38%;
  border-radius: 50%;
}

.img-user-4 {
  top: 2%;
  left: 29%;
  border-radius: 50%;
  width: 36%;
  height: 83%;
  position: absolute;
}

.team-cercle-md-4 {
  z-index: 1;
  width: 19%;
  height: 43%;
  position: absolute;
  top: 58%;
  left: 30%;
}

.team-cercle-sm-4-left {
  width: 9.3%;
  height: 21%;
  position: absolute;
  top: 7%;
  left: 24%;
}

.team-cercle-sm-4-right {
  z-index: 1;
  width: 9.3%;
  height: 21%;
  position: absolute;
  top: 17%;
  left: 63%;
}

.team-cercle-orange-4 {
  top: -13%;
  width: 36%;
  height: 88%;
  position: absolute;
  left: 20%;
}

.team-cercle-sm-4 {
  left: 28%;
  height: 18%;
  width: 8%;
  position: absolute;
  top: 3%;
}

.team-cercle-orange-4-right {
  width: 25%;
  height: 57%;
  position: absolute;
  right: 28%;
  top: 37%;
}

/*USER 5*/

.team-user-5 {
  padding-top: 8rem;
  width: 100%;
  height: 573px;
  display: flex;
}

.box-name-text-5 {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: center;
  padding-right: 11%;
}

.box-name-text-5 h2 {
  height: 3rem;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 4rem;
  color: #ff6b0e;
  font-weight: 700;
  margin-top: 6rem;
}

.box-name-text-5 h3 {
  height: 42px;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 2rem;
  margin-top: 20px;
  color: #525252;
  margin-bottom: 4rem;
  font-weight: 700;
}

.box-name-text-5 p {
  font-family: 'GlobotipoRounded-Regular';
  font-size: 1.5rem;
  color: #525252;
  font-weight: 400;
}

.team-img-cercles-5 {
  position: relative;
  width: 67%;
  height: 100%;
}

.team-cercle-orange-lg-5 {
  position: absolute;
  top: -10%;
  height: 90%;
  width: 42%;
  left: 17%;
}

.team-cercle-orange-md-5 {
  position: absolute;
  top: 32%;
  height: 70%;
  width: 34%;
  left: 38%;
  border-radius: 50%;
}

.img-user-5 {
  top: 2%;
  left: 29%;
  border-radius: 50%;
  width: 36%;
  height: 83%;
  position: absolute;
}

.team-cercle-md-5 {
  z-index: 1;
  width: 19%;
  height: 43%;
  position: absolute;
  top: 58%;
  left: 30%;
}

.team-cercle-sm-5-left {
  width: 9.3%;
  height: 21%;
  position: absolute;
  top: 7%;
  left: 24%;
}

.team-cercle-sm-5-right {
  z-index: 1;
  width: 9.3%;
  height: 21%;
  position: absolute;
  top: 17%;
  left: 63%;
}

.team-cercle-orange-5 {
  top: -13%;
  width: 36%;
  height: 88%;
  position: absolute;
  left: 20%;
}

.team-cercle-sm-5 {
  left: 28%;
  height: 18%;
  width: 8%;
  position: absolute;
  top: 3%;
}

.team-cercle-orange-5-right {
  width: 25%;
  height: 57%;
  position: absolute;
  right: 28%;
  top: 37%;
}

/*USER 6*/

.team-user-6 {
  padding-top: 8rem;
  width: 100%;
  height: 573px;
  display: flex;
}

.box-name-text-6 {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: center;
  padding-left: 11%;
}

.box-name-text-6 h2 {
  height: 3rem;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 4rem;
  color: #ff6b0e;
  font-weight: 700;
  margin-top: 6rem;
}

.box-name-text-6 h3 {
  height: 42px;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 2rem;
  margin-top: 20px;
  color: #525252;
  margin-bottom: 4rem;
  font-weight: 700;
}

.box-name-text-6 p {
  font-family: 'GlobotipoRounded-Regular';
  font-size: 1.5rem;
  color: #525252;
  font-weight: 400;
}

.team-img-cercles-6 {
  position: relative;
  width: 67%;
  height: 100%;
}

.team-cercle-orange-6 {
  height: 100%;
  width: 45.8%;
  position: absolute;
  left: 35.7%;
  top: -11%;
  border-radius: 50%;
}

.img-user-6 {
  top: 6%;
  left: 29%;
  border-radius: 50%;
  width: 36%;
  height: 83%;
  position: absolute;
}

.team-cercle-md-6 {
  z-index: 1;
  width: 19%;
  height: 43%;
  position: absolute;
  top: 12%;
  left: 62%;
}

.team-cercle-sm-6 {
  width: 9.3%;
  height: 21%;
  position: absolute;
  top: -14%;
  left: 24%;
}

/*USER 7*/

.team-user-7 {
  padding-top: 6rem;
  width: 100%;
  height: 573px;
  display: flex;
}

.box-name-text-7 {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: center;
  padding-right: 11%;
}

.box-name-text-7 h2 {
  height: 3rem;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 4rem;
  color: #ff6b0e;
  font-weight: 700;
  margin-top: 6rem;
}

.box-name-text-7 h3 {
  height: 42px;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 2rem;
  margin-top: 20px;
  color: #525252;
  margin-bottom: 4rem;
  font-weight: 700;
}

.box-name-text-7 p {
  font-family: 'GlobotipoRounded-Regular';
  font-size: 1.5rem;
  color: #525252;
  font-weight: 400;
}

.team-img-cercles-7 {
  position: relative;
  width: 67%;
  height: 100%;
}

.team-cercle-orange-lg-7 {
  position: absolute;
  top: -10%;
  height: 90%;
  width: 42%;
  left: 17%;
}

.team-cercle-orange-md-7 {
  position: absolute;
  top: 32%;
  height: 70%;
  width: 34%;
  left: 38%;
  border-radius: 50%;
}

.img-user-7 {
  top: 2%;
  left: 29%;
  border-radius: 50%;
  width: 36%;
  height: 83%;
  position: absolute;
}

.team-cercle-md-7 {
  z-index: 1;
  width: 19%;
  height: 43%;
  position: absolute;
  top: 58%;
  left: 30%;
}

.team-cercle-sm-7-left {
  width: 9.3%;
  height: 21%;
  position: absolute;
  top: 7%;
  left: 24%;
}

.team-cercle-sm-7-right {
  z-index: 1;
  width: 8.3%;
  height: 17%;
  position: absolute;
  top: 17%;
  left: 62%;
}

.team-cercle-orange-7 {
  top: -13%;
  width: 36%;
  height: 88%;
  position: absolute;
  left: 20%;
}

.team-cercle-sm-7 {
  left: 28%;
  height: 18%;
  width: 8%;
  position: absolute;
  top: 3%;
}

.team-cercle-orange-7-right {
  width: 25%;
  height: 57%;
  position: absolute;
  right: 28%;
  top: 37%;
}

/*TEXT TEAM BOTTOM*/

.text-team-bottom {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box-text-team {
  padding-top: 10rem;
  height: 100%;
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-text-team h2 {
  height: 3rem;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 4rem;
  color: #ff6b0e;
  font-weight: 700;
  margin-top: 6rem;
}

.box-text-team h3 {
  height: 42px;
  font-family: 'GlobotipoRounded-Regular';
  font-size: 2rem;
  margin-top: 0.5rem;
  color: #525252;
  margin-bottom: 0rem;
  font-weight: 700;
}

.box-text-team p {
  font-family: 'GlobotipoRounded-Regular';
  font-size: 1.5rem;
  color: #525252;
  font-weight: 400;
}

/*BOTTOM PAGE*/

#bottom-page {
  width: 100%;
  height: 2000px;
  overflow: hidden;
}

.box-bottom-page {
  background-image: url('/imagens/bg_bottom.jpg');
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

.cercle-md-bottom {
  width: 10.7%;
  height: 13%;
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 1;
}

.cercle-sm-left {
  width: 6%;
  height: 7%;
  position: absolute;
  top: 19%;
  left: 17%;
}

.cercle-xsm-bottom {
  height: 3%;
  width: 2.7%;
  position: absolute;
  top: 15%;
  left: 14%;
}

.cercle-line-bottom-right {
  width: 92%;
  height: 74%;
  position: absolute;
  right: -62%;
  top: -3%;
}

.img-bottom-1 {
  top: 15%;
  width: 20%;
  height: 23%;
  border-radius: 50%;
  position: absolute;
  left: 25%;
}

.img-bottom-2 {
  top: 16%;
  width: 20%;
  height: 23%;
  border-radius: 50%;
  position: absolute;
  right: 25%;
}

.cercle-lg-bottom {
  width: 17%;
  height: 20%;
  position: absolute;
  bottom: 27%;
  right: 4%;
}

.cercle-sm-right {
  width: 6%;
  height: 7%;
  position: absolute;
  bottom: 45%;
  right: 10%;
}

.logo-bottom {
  left: 50%;
  position: absolute;
  width: 25%;
  height: 180px;
  transform: translateX(-50%);
  bottom: 40%;
}

/*ANIMAÇÕES*/

[data-anima] {
  opacity: 0;
  transition: 1s;
}

[data-anima='left'] {
  transform: translate3d(-50px, 0, 0);
}

[data-anima='right'] {
  transform: translate3d(50px, 0, 0);
}

[data-anima].animacao {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
